$themeColor-Light: #f3e2c7;
$themeColor-Dark:#222;

/*svg rect{
    overflow: visible;
    fill:rgba(255,50,50,0.5);
}*/

p{
    color: black;
}

#chart , #chart2{
    width: 800px;
    display: inline-block;
    height: 400px;
    background-color: #f7f7f7;
    padding: 10px;
    margin: 25px auto;
}
/*#chart2{
    width: 800px;
    height: 400px;
    background-color: #C2C2C2;
    padding: 10px;
    margin: 25px auto;
}*/
.bar{
    display: inline-block;
    vertical-align: bottom;
    border: 3px solid transparent;
    border-color: rgba(10,10,10,0.5);
    width: 25px;
    height: 300px;
    margin-right: 10px;
    background-color: rgba(100,250,100,0.5);
}
